h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: hidden;
  width: 500px !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.sm-margintop { margin-top: 15px; }

.md-margintop { margin-top: 30px; }

.sm-marginbot { margin-bottom: 15px; }

.md-marginbot { margin-bottom: 30px; }

.fleft { float: left; }

.fright { float: right; }

.clear { clear: both; }

.ta-center { text-align: center; }

.ta-left { text-align: left; }

.ta-right { text-align: right };

#content {
  position: relative;
  z-index: 1000;
}

.list span {
  display: flex;
  justify-content: space-between;
}

#btnDelete {
  margin-left: 10px;
}

.btnList {
  /*display: none;*/
}

.list span:hover .btnList {
  display: block;
}
