@import '../../style/css/variables.scss';

.navigation {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .nav-link {
    margin: 0 10px;
    font-size: 20px;
    color: #808080;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
  }

  .logo {
    font-size: 29px;
    color: $blue !important;
    font-weight: bold;
    text-decoration: none;
  }
}
