@import "variables.scss";

/*------------------------------------*\
  #General
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {  margin: 0; }

body { background-color: $bg-color; }

ul {
  list-style: none;
  margin:   0;
  padding:  0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.sm-margintop { margin-top: $sm; }

.md-margintop { margin-top: $md; }

.sm-marginbot { margin-bottom: $sm; }

.md-marginbot { margin-bottom: $md; }

#content {
  position: relative;
  z-index: 1000;
}

.alert-text {
  color: $red;
  font-size: 15px;
}

/*------------------------------------*\
  #Header
\*------------------------------------*/

#header {
  background-color: $bg-color;
  border: none;

    #header__brand {
      font-size: 29px;
      color: $blue;
      font-weight: bold;
      text-decoration: none;
    }

    .header__list-item {
      a {
        line-height: 27px;
        font-size: 19px;
        background-color: $bg-color;
        color: $black;
      }
    }
}

/*------------------------------------*\
  #Post Form
\*------------------------------------*/

#pform {
  text-align: center;
  margin-bottom: $md;

  .pform__title {
    @extend .center;
    width: 500px;
  }

  .pform__alert {
    @extend .alert-text;
    width: 500px;
    text-align: left;
    margin: 0;
  }

  .pform__text {
    @extend .center;
    resize: none;
    overflow: hidden;
    width: 500px;
    height: 100px;
  }
}

/*------------------------------------*\
  #Post List
\*------------------------------------*/

.plist__search {
  width: 100%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
}

.plist__search:focus {
  border-color: $blue;
}

.plist__item {
  padding: 0;
  border: 2px solid $blue-light;

  .plist__item--padding {
    padding: 10px 15px;
  }

  .plist__item-title {
    @extend .plist__item--padding ;
    background-color: $blue-light;
    color: $blue;

    input {
      width: 100%;
      border: 0;
      background-color: inherit;
    }
  }

  .plist__item-text {
    @extend .plist__item--padding ;

    input {
      width: 100%;
      border: 0;
      margin-right: 10px;
    }
  }

  .plist__item-icons {
    @extend .plist__item--padding ;

    .dropdown {
      margin-bottom: 4px;

      .dropdown__palette {
        float: right;
        width: 10px;
        height: 10px;
        margin-top: 5px;
        &--default {
          background-color: $blue-light;
        }
        &--important {
          background-color: $light-red;
        }
        &--ongoing {
          background-color: $yellow;
        }
        &--completed {
          background-color: $green;
        }
      }
    }
  }
}

// Post Status
.plist__item--default {
  .plist__item-title {
    background-color: $blue-light;
  }
}

.plist__item--important {
  .plist__item-title {
    background-color: $light-red ;
    color: $white;
  }
}

.plist__item--ongoing {
  .plist__item-title {
    background-color: $yellow;
    color: $black;
  }
}

.plist__item--completed {
  .plist__item-title {
      background-color: $green-light;
      color: $green;
  }
}

// Post Icons
.icon {
  font-size: 22px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 0;
  cursor: pointer;
  margin-left: 10px;
}

/*------------------------------------*\
  #RegisterOrLogin
\*------------------------------------*/

.login {
  width: 420px;
  margin: 0 auto;
  background-color: $white;
  border: 2px solid $grey;
  border-radius: 4px;

    h1 {
      font-size: 21px;
      font-weight: 700;
      line-height: 24px;
      padding: 16px 12px;
      text-align: center;
    }

    .login__text {
      padding: 12px 8px;
      font-size: 16px;
      text-align: center;

        a {
          text-decoration: none;
          font-weight: 800;
          font-size: 18px;
          cursor: pointer;
        }
    }

    .login__form {
      padding: 16px 12px;

      input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0.75rem 1rem;
        margin-bottom: 0.75rem;
        border: 2px solid $grey-dark;
        border-radius: 4px;
        background-color: $white;
      }

      button[type=submit] {
        width: 100%;
        height: 45px;
        font-size: 18px;
      }
    }
}
