h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: hidden;
  width: 500px !important;
}

body {
  background-color: #eee;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.sm-margintop { margin-top: 15px; }

.md-margintop { margin-top: 30px; }

.sm-marginbot { margin-bottom: 15px; }

.md-marginbot { margin-bottom: 30px; }

.fleft { float: left; }

.fright { float: right; }

.clear { clear: both; }

.ta-center { text-align: center; }

.ta-left { text-align: left; }

.ta-right { text-align: right };

#content {
  position: relative;
  z-index: 1000;
}

.list span {
  display: flex;
  justify-content: space-between;
}

.list span:hover .btn-list {
  display: block;
  height: 100%;
}

.npt-text {
  border: 0;
}

#btnDelete {
  width: 40px;
  height: 40px;
  border: 0;
  background: url(/app/assets/delete.png) no-repeat;
  background-size: 100%;
  background-size: 40px auto;
  margin-left: 10px;
}

#btnDone {
  width: 40px;
  height: 40px;
  border: 0;
  background: url(/app/assets/done.png) no-repeat;
  background-size: 100%;
  background-size: 40px auto;
}

#btnUndone {
  width: 40px;
  height: 40px;
  border: 0;
  background: url(/app/assets/undone.png) no-repeat;
  background-size: 100%;
  background-size: 40px auto;
}
