/* Sizes */
$sm: 15px;
$md: 30px;

/* Colors */
$black: #000;
$white: #fff;
$yellow:#f4e597;
$green:#3c763d;
$green-light:#dff0d8;
$blue: #337ab7;
$blue-light: #d9edf7;
$grey: #ddd;
$grey-dark:#c3c8ce;
$red: #ff0000;
$light-red:#a94442;
$bg-color: #eee;

/* Paths */
$assetsPath: "/app/assets/";
